.crop-aspect-title {
  margin-bottom: 18px;
  font-size: 14px;
  color: white;
}

.crop-aspects {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .crop-aspect {
    width: 36.6%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    padding: 8px;
    margin-bottom: 12px;
    color: white;
    border: 1px solid #969797;
    border-radius: 2px;
    text-align: center;

    &.activated {
      background: #2b2b2b;
    }

    .aspect-icon {
      border: 1px solid white;
      width: 20px;
    }

    & > span {
      display: inline-block;
      width: 36px;
    }

    & > p {
      width: 100%;
      text-align: center;
      letter-spacing: 2px;
    }
  }

  .aspect-1-1 {
    height: 20px;
  }

  .aspect-2-1 {
    height: 10px;
  }

  .aspect-16-10 {
    height: 13px;
  }

  .aspect-16-9 {
    height: 12px;
  }

  .aspect-5-4 {
    height: 16px;
  }

  .aspect-4-3 {
    height: 15px;
  }

  .aspect-3-2 {
    height: 13px;
  }

  .rotate {
    transform: rotate(90deg);
  }
}
