@import "styles/helper";

#tool-bar {
  width: calc(100% - 40px);
  padding: 0 20px;
  height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  background: #444444;
  border-bottom: 1px solid #606060;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
