.range-slider {
  position: relative;
  height: 40px;
  cursor: grab;

  &:hover {
    .slider-value {
      transform: scale(1.5);
    }
  }

  .slider-label,
  .slider-value {
    position: absolute;
    color: white;
    top: 15px;
    pointer-events: none;
  }

  .slider-label {
    left: 8px;
  }

  .slider-value {
    right: 8px;
    transform-origin: right;
    transition: all ease 300ms;
  }

  .slider-background {
    pointer-events: none;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 2px;
    opacity: 0.8;
  }

  .rc-slider {
    border-radius: 2px;
    width: 100%;
    height: 100%;

    .rc-slider-rail,
    .rc-slider-track {
      display: none;
    }

    .rc-slider-handle {
      height: 100%;
      border-radius: 1px;
      width: 26px;
      border: none;
      background-color: rgba(0, 0, 0, 0);

      &:focus {
        box-shadow: none;
        outline: none;
      }

      &::after {
        content: " ";
        display: block;
        width: 2px;
        height: 100%;
        background-color: white;
        position: relative;
        left: 12px;
      }
    }
  }
}
