@import "styles/helper";

#main-canvas-container {
  position: fixed;
  top: $header-height;
  left: 0;
  height: calc(100% - #{$header-height});
  overflow: scroll;
  display: flex;
  align-items: center;

  #main-canvas {
    width: 100%;
    height: 100%;
    transition: all ease 400ms;
    transform-origin: center;
  }
}
