@import "styles/helper";

#crop {
  width: calc(#{$adjustment-width} - 80px);
  height: calc(100% - #{$header-height});
  position: fixed;
  top: 38px;
  right: 0;
  background: #0e0e0e;
  border-left: 1px solid #606060;
  color: white;
  padding: 15px 40px;
  font-size: 12px;
  overflow-y: scroll;
  text-align: center;

  & > .button,
  & > .button-group {
    margin-bottom: 32px;
  }

  .rc-collapse-header {
    display: none;
  }

  .rc-collapse-item.buttons .rc-collapse-content-box {
    display: flex;
    flex-direction: column;
    padding: 0 30px;

    .button {
      margin-bottom: 12px;
      height: 36px;
      font-size: 13px;

      & > span {
        display: inline-block;
        width: 54px;
      }
    }
  }
}
