@import "styles/helper";

#filter {
  width: calc(#{$adjustment-width} - 30px);
  height: calc(100% - #{$header-height});
  position: fixed;
  top: 38px;
  right: 0;
  background: #0e0e0e;
  border-left: 1px solid #606060;
  color: white;
  padding: 15px;
  font-size: 12px;
  text-align: center;

  .filter-collection-select {
    width: 100px;
    height: 30px;
    text-align: center;
  }

  .filter-collection {
    margin-top: 30px;
    text-align: left;

    .filter-item {
      width: calc(270px / 2 - 5px - 2px);
      border: 1px solid grey;
      height: 100px;
      display: inline-block;
      margin-bottom: 10px;
      position: relative;
      cursor: pointer;

      & > div:first-child {
        transform: scale(0.6) translate(47px, -7px);
      }

      &.selected {
        p {
          background-color: #b3d4fc !important;
        }
      }

      &:nth-child(2n) {
        margin-left: 10px;
      }

      & > img {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      & > p {
        position: absolute;
        bottom: 0;
        width: 100%;
        font-size: 16px;
        font-weight: lighter;
        line-height: 36px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.2);
        letter-spacing: 1px;
      }
    }
  }
}
