.button {
  color: white;
  font-weight: lighter;
  font-size: 12px;
  height: 26px;
  background: #5d5d5d;
  border: 1px solid #969797;
  border-radius: 2px;

  .icon {
    width: auto;
    height: 6px;
    margin-left: 5px;
  }
}
