.button {
  color: white;
  font-weight: lighter;
  font-size: 12px;
  height: 26px;
  background: #5d5d5d;
  border: 1px solid #969797;
  border-radius: 2px;
  padding: 0 8px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;

  //.icon {
  //  margin-left: 5px;
  //}

  &.activated {
    background-color: #ffa414;
    border-color: #BC7613;
  }
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
