@import "styles/helper";

#adjustment {
  width: calc(#{$adjustment-width} - 30px);
  height: calc(100% - #{$header-height});
  position: fixed;
  top: 38px;
  right: 0;
  background: #0e0e0e;
  border-left: 1px solid #606060;
  color: white;
  padding: 15px;
  font-size: 12px;

  .adjustment-range-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

    .rc-slider {
      width: 160px;
    }

    & > span {
      margin-right: 20px;
    }
  }
}
